#amarillo{
    background-color: yellow;
}

#azul{
    background-color: blue;
}

#rojo{
    background-color: red;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px black solid;
    text-align: center;
    width: 100px;
    height: 100px;
}
